<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <div flex layout="row" layout-margin ng-include="'app/pulse/kiosks/views/Detail/_kiosks_detail_control_bar.html'"></div>
	<div layout="row" layout-xs="column" layout-margin="" class="layout-margin layout-xs-column layout-row">
		<div flex="70" layout="column" layout-margin>
			<div layout="row" layout-margin ng-include="'app/pulse/kiosks/views/Detail/_kiosks_detail_server.html'"></div>
			<div layout="row" layout-margin>
				<div layout="column" layout-margin flex="40" ng-include="'app/pulse/kiosks/views/Detail/_kiosks_detail_usage_stats.html'"></div>
				<div layout="column" layout-margin flex>
					<div layout="row" layout-margin ng-include="'app/pulse/kiosks/views/Detail/_kiosks_detail_event_log.html'"></div>
				</div>
			</div>
		</div>
		<div flex layout="column" layout-margin>
			<div layout="column" layout-margin ng-include="'app/pulse/kiosks/views/Detail/_kiosks_detail_info.html'"></div>
			<div layout="column" layout-margin ng-include="'app/pulse/kiosks/views/Detail/_kiosks_detail_system_event.html'"></div>
		</div>
        <input-form my-handler="vm.formSetting.handler" modal-type="vm.formSetting.popupType" options="vm.historySchema" data-ng-click-submit-button="vm.formSetting.submitButton()" data-ng-click-cancel-button="vm.formSetting.cancelButton()" modal-header-logo="vm.formSetting.headerLogo" modal-body-content="vm.formSetting.bodyContent" modal-message-type="vm.formSetting.messageType"></input-form>
        <message-box my-handler="vm.modelSetting.handler" modal-header-logo="vm.modelSetting.headerLogo" modal-is-confirm="vm.modelSetting.isConfirm" modal-body="vm.modelSetting.body" modal-footer="vm.modelSetting.footer" modal-header="vm.modelSetting.header" message-type="vm.modelSetting.messageType" message-icon="vm.modelSetting.icon"></message-box>
	</div>
</div>