<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Really Simple HTML Email Template</title>
</head>
<body bgcolor="#f6f6f6">
    <div class="content body-wrap" bgcolor="#f6f6f6">
        <div style="text-align: center;"><a href="https://www.tekcent.com/"><img src="https://www.tekcent.com/images/logo.svg" /></a></div>
        <p>Hi @Model.UserName,</p>
        <p>This's your Password: @Model.PassWord</p>
        <p> Pulse application: <a href="http://localhost:7000">Here</a></p>
        <p>Regards,</p>
        <p>Pulse Tekcent</p>
        <p>W: +852 2576 8361 | M: +852 9537 8841</p>
        <p>Website: <a href="https://www.tekcent.com/">tekcent.com</a></p>
    </div>
</body>
</html>


