<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SERVER_URI" value="http://localhost:9090/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="WEBAPI_URI" value="http://localhost:5600/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MACHINE_ID" value="11d5af36-64c9-4b72-b508-36cbff3cfff4" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MACHINE_NAME" value="Tuan Cao" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>