<div class="dashboard-container overlay-10  pulse-dashboard-style" layout="column">
    <md-progress-linear id="loading" class="margin-bottom-20" md-mode="indeterminate"></md-progress-linear>
    <div flex layout="column">
        <div flex layout="row" layout-xs="column">
            <div flex="25"></div>
            <md-card flex="50" style="margin-top:12%;height:320px!important">
                <md-card-container layout-margin>
                    <div class="text-center">
                        <h2>CHANGE PASSWORD</h2>
                        <hr />
                    </div>
                    <form name="password">
                        <md-input-container class="md-block">
                            <label>Current Password</label>
                            <input type="password" ng-model="vm.password.currentPassword" name="currentPassword" ng-required="true">
                            <div md-auto-hide="false" ng-show="!password.currentPassword.$valid && password.currentPassword.$touched" class="pulse-error-message">
                                <span translate>Please input your current password.</span>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>New Password</label>
                            <input type="password" ng-model="vm.password.newPassword" name="newPassword" ng-required="true">
                            <div md-auto-hide="false" ng-show="!password.newPassword.$valid && password.newPassword.$touched" class="pulse-error-message">
                                <span translate>Please input your new password.</span>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block text-right ">
                            <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.update()" translate="Update" ng-disabled="password.$invalid">Update</md-button>
                        </md-input-container>
                    </form>
                </md-card-container>
            </md-card>
            <div flex="25"></div>
        </div>
    </div>
</div>
