
quartz.scheduler.instanceName = PulseScheduler

quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz

quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz

quartz.threadPool.threadCount = 10

quartz.jobStore.tablePrefix = PULSE_

# This can be any value. We will use this to set connectionString and provider later
quartz.jobStore.dataSource = pulseDS

quartz.dataSource.pulseDS.connectionString = Server=DESKTOP-VKTQ8TP;Database=PULSE;User ID=sa;Password=sa

quartz.dataSource.pulseDS.provider = SqlServer-20

quartz.jobStore.useProperties = true
